{% extends 'admin.base.html.twig' %}

{% block body %}
    <div class="table-responsive">
        <a class="btn btn-primary" href="/admin/user">Add</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/admin/user/{{ user.id }}"><i class="fa fa-edit"></i></a>
                        <button class="btn btn-danger btn-sm user-delete" data-id="{{ user.id }}"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}